.App {
	/* width: 70%; */
	padding: 0 10%;
}
h1 {
	text-align: center;
}
label {
	display: block;
	text-align: center;
}
input {
	padding: 1%;
	border-radius: 4px;
	border: 1px solid black;
}
input:focus {
	/* border-radius: 1px; */
	/* border: 2px solid red; */
	/* outline: aqua thin 2px; */
  outline: solid rgb(69, 187, 226) 2.5px;
}
select {
	padding: 1%;
	border-radius: 5px;
	border: 1px solid black;
}
.information {
	display: flex;
	justify-content: space-between;
}

.email,
.name {
	width: 50%;
	/* border: 2px solid black; */
}
#email-input,
#name-input {
	width: 97%;
}
.addresses {
	display: flex;
	flex-direction: column;
}

.location {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.city,
.province,
.postal-code {
	width: 33%;
	/* border:2px solid black; */
}
#city-input,
#provinces-input,
#postal-code-input {
	width: 97%;
}

.submit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.submit-button {
	padding: 7px;
	background-color: rgb(26, 204, 26);
	border-radius: 7px;
	color: white;
}

.submit-button:hover {
	cursor: pointer;
}
